<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>monero</name>
	<displayName><![CDATA[Monero Payments]]></displayName>
	<version><![CDATA[2.0.0]]></version>
	<description><![CDATA[Accept payments in Monero (XMR) cryptocurrency]]></description>
	<author><![CDATA[karlokr]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall the Monero payment module?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>
